.app-container {
  display: flex;
  height: 100%;
}
.content {
  width: 100%;
  height: 20%;
}

.sidebar {
  min-height: 800px;
  width: 180px;
}
.post-card {
  margin: 20px 50px;
}

.hashtag {
  margin: 5px 3px;
}

.reactions {
  width: 100%;
  margin: 15px 0 0 0;
}

.create-post {
  width: 80%;
  margin-left: 10%;
  margin-top: 8%;
}
